* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}

html {
  min-height: 100%;
}

body {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  text-decoration: none;
}

nav {
  background: #0000009d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
}

a .active,
a:hover {
  background: #fd008f;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

presentacion {
  display: inline-flex;
  margin: 10vh 6.5vh;
}

presentacion titulo {
  padding-right: 10px;
  border-right: 7px solid #d70a53;
}

h1 {
  color: white;
  font-size: 8vh;
}

h2 {
  color: white;
  font-size: 7vh;
}
p {
  color: white;
  font-size: 5vh;
}

span {
  color: #fd008f;
}

descripcionp {
  padding-left: 50px;
}

educacion .educacion_inline {
  display: inline-block;
  width: 100px;
}
educacion .img {
  height: 300px;
  width: 300px;
}

@media (max-width: 1070px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #d70a53;
    top: 80px;
    left: 0;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: white;
    text-shadow: 3px 3px 5px black;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

.skill {
  width: 500px;
  margin: 60px auto;
  color: #fff;
  padding: 20px;
  background: #0000009d;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.skill li {
  margin: 20px 0;
}

.bar {
  background: #353b48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bar span {
  height: 20px;
  float: left;
  background: linear-gradient(
    135deg,
    rgba(236, 0, 140, 1) 0%,
    rgba(252, 103, 103, 1) 100%
  );
}

.html {
  width: 90%;
  animation: html 3s;
}

.css {
  width: 80%;
  animation: css 3s;
}

.javascript {
  width: 70%;
  animation: javascript 3s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
